<div class="featured-album">
    <div class="row">
        <div class="column">
            <span>
                <a href="{% url 'music:music_detailed' album.id %}">
                    <h1>{{ album.name }}</h1>
                </a>
                <a href="{% url 'music:search' %}?search_term={{ album.musician.name }}">
                    <h2>{{ album.musician.name }}</h2>
                </a>
                <h3><a href="{% url 'music:ratings' %}">Score: {{ album.rating }}/3</a></h3>
            </span>
            <span>
                <ul style="padding: 0px;">
                    {% for tag in tags %}
                        {% if forloop.last %}
                            <li style="display:inline;">
                                <a href="{% url 'music:search' %}?search_term={{ tag.name }}">
                                    {{ tag.name }}
                                </a>
                            </li>
                        {% else %}
                            <li style="display:inline;">
                                <a href="{% url 'music:search' %}?search_term={{ tag.name }}">
                                    {{ tag.name }},
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </span>
        </div>
        <div class="column">
            <div style="padding-top: 20px;">
                <p>Released: {{ album.album_released_date | date:"n/j/Y" }}</p>
                <p>Reviewed: {{ album.reviewed_at | date:"n/j/Y" }}</p>
                {% if album.src %}
                    <p><a href="{{ album.src }}">Link to sample</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="review">
    {% if album.image_src %}
        {% load static %}
        <img src="{% static album.image_src %}" alt="" style="width:25%; float: left; margin: 30px;">
    {% endif %}
    <div class="review-text">
        {% if truncate %}
            {{ album.review | truncatechars_html:500 }}
            {% if album.review|length > 500 %}
                <strong><p>
                    Click
                    <a href="{% url 'music:music_detailed' album.id %}">here</a>
                    for the full review.
                </p></strong>
            {% endif %}
        {% else %}
            {{ album.review }}
        {% endif %}
    </div>
</div>

{% if show_comments %}
    {% load music_extras %}
    <div class="comments">
        <h2>
            Comments
        </h2>
        {% if user.is_authenticated %}
            <form id="comment_submission_form" action="{% url 'music:comment' music_id=album.id %}" method="post" >
                {% csrf_token %}
                <label for="comment">Care to comment?</label>
                <br>
                <textarea id="comment" name="comment" rows="1" cols="200"></textarea>
                <br>
                <input type="submit" value="Submit">
            </form>
        {% else %}
            <p>
                <i>
                If you'd like to comment, you need to be logged in. See the status bar at the top.
                If you don't have an account, I'd love to create one for you! Just email me.
                </i>
            </p>
        {% endif %}
        {% if comments %}
            {% for comment in comments %}
<pre style="padding-top: 3px;">
<b>{{ comment.display_name }} ({{ comment.created_at|human_readable_how_long_ago }}):</b> {{ comment.text }}
</pre>
            {% endfor %}
        {% endif %}
    </div>
{% endif %}
