{% extends "boilerplate.html" %}
{% block content %}
{% load static %}
<div>
    <div class="best-of">
        <h1>Best of {{ best_of.name }}</h1>
        <p>(albums not necessarily produced this year)</p>
    </div>
    <div>
        {% for album in albums_with_photos %}
        <span >
            <img class="best-of-image" src="{% static album.image_src %}" alt="">
        </span>
        {% endfor %}
    </div>
    <div class="best-of-description">{{ best_of.description }}</div>
    <div>
        <div class="best-of-control-panel">
            <p>Uncheck any category of music that you aren't interested in.</p>
            {% for tag, quantity in tags_with_quantity %}
            <input class="hide-with-checkboxes" type="checkbox" name="{{ tag.classname }}" value="{{ tag.name }}" checked>
            {{tag.name}} ({{quantity}} album{{quantity | pluralize}}) <br />
            {% endfor %}
        </div>
        <div class="column-thirds best-albums">
            <h2>Best albums</h2>
            {% include "_albums_list.html" with albums=best_albums %}
        </div>
        <div class="column-thirds great-albums">
            <h2>Great albums</h2>
            {% include "_albums_list.html" with albums=great_albums %}
        </div>
        <div class="column-thirds good-albums">
            <h2>Good albums</h2>
            {% include "_albums_list.html" with albums=good_albums %}
        </div>
    </div>
</div>
{% endblock %}
