<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140792120-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-140792120-1');
    </script>
    <meta charset="UTF-8">
    <title>{% block title %}Paul's Music{% endblock %}</title>
    {% load static %}
    <link rel="icon" href={% static "favicon.png" %} type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "music/css/styles.css" %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</head>
<body>
<div>
    <div class="toolbar">
        <form action="{% url 'music:search' %}" class="toolbar-form">
            Find more reviews:
            <input type="text" name="search_term" class="toolbar-input">
        </form>
        <ul class="featured-tags" style="padding-inline-start: 10px;">
            <li class="featured-tags">
                <a href="{% url 'music:search' %}?search_term=ambient">ambient</a>
            </li>
            <li class="featured-tags">
                <a href="{% url 'music:search' %}?search_term=metal">metal</a>
            </li>
            <li class="featured-tags">
                <a href="{% url 'music:search' %}?search_term=rock">rock</a>
            </li>
        </ul>
        <a href="{% url 'music:home' %}" style="padding-inline-start: 20px;">Music homepage</a>
        <a href="{% url 'music:rss' %}" style="float: right; padding-right: 10px;">RSS Feed</a>
        <a href="https://github.com/paul-cobalt/personal/tree/master/music" style="float: right; padding-right: 10px;">Source code</a>
    </div>
    {% block content %}{% endblock %}
</div>
</body>
</html>
