{% extends "base.html" %}
{% block all %}
<div>
    <div class="toolbar">
        {% if user.is_authenticated %}
        <span class="hide-on-small-screens" style="padding-right: 10px;">
            Welcome {{ user.username }}!
        </span>
        {% endif %}
        <span style="padding-right: 10px;">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </span>
        <span style="padding-right: 10px;">
            <a href="{% url 'sms:home' %}">Daily Pulse</a>
        </span>
        <form action="{% url 'music:search' %}" class="toolbar-form">
            Find more reviews:
            <input type="text" name="search_term" class="toolbar-input">
        </form>

        <span class="hide-on-small-screens">
            <a href="{% url 'music:best_of' name=2019 %}">Best of 2019</a>
            <a href="{% url 'music:best_of' name=2020 %}" style="padding-left: 10px;">Best of 2020</a>
            <a href="{% url 'music:best_of' name=2021 %}" style="padding-left: 10px;">Best of 2021</a>
            <a href="{% url 'music:best_of' name=2022 %}" style="padding-left: 10px;">Best of 2022</a>
            <a href="{% url 'music:best_of' name=2023 %}" style="padding-left: 10px;">Best of 2023</a>
        </span>

        <span style="float: right;">
            <span class="hide-on-small-screens">
                <a href="{% url 'music:rss' %}" style="padding-right: 10px;">RSS Feed</a>
                <a href="https://github.com/paul-cobalt/personal/tree/master/music" style="padding-right: 30px;">Source code</a>
            </span>
        </span>

    </div>
    {% block content %}{% endblock %}
</div>
{% endblock %}
