{% extends "sms/boilerplate.html" %}
{% block all %}
<h1>{{ question.text }} ({{question.min_score}}-{{question.max_score}})</h1>
<div id="plot-over-time" style="padding-top: 20px;"></div>
<div>
    <div id="agg-weekday-stats" style="padding-top: 20px;"></div>
    <div id="agg-time-of-day-stats" style="padding-top: 20px;"></div>
</div>
<script>
google.charts.load('current', {'packages': ['line', 'corechart']});

function getGenericOptions() {
    return {
        vAxis: {
            viewWindow: {
                min: parseInt("{{question.min_score}}"),
                max: parseInt("{{question.max_score}}")
            }
        },
        curveType: 'function',
        lineWidth: 3,
        // Settings chosen to look decent on mobile and desktop.
        width: '100%',
        height: '15%',
        chartArea: {'width': '90%', 'height': '80%', left: '5%'},
        legend: 'none'
    };
}

// Plots an array of DataPoints in a line chart.
function plotDataPointsOverTime(dataPoints, divElement) {
    var data = new google.visualization.DataTable();
    data.addColumn('date', 'X');
    data.addColumn('number', 'Score');
    data.addColumn({type: 'string', role: 'tooltip'});

    for (var dataPoint of dataPoints) {
        data.addRow([new Date(dataPoint["created_at"]), dataPoint["score"], dataPoint["text"]]);
    }

    var options = {
        hAxis: {
            format: 'MM/dd/YY'
        },
        title: 'Scores Over Time',
    };
    var genericOptions = getGenericOptions();
    const allOptions = {
        ...options,
        ...genericOptions,
    }

    var chart = new google.visualization.LineChart(divElement);
    chart.draw(data, allOptions);
}

// Note that getDay depends on this ordering, so please don't
// rearrange.
function getOrderedWeekdayKeys() {
    var weekdays = new Array(7);
    weekdays[0] = "Sunday";
    weekdays[1] = "Monday";
    weekdays[2] = "Tuesday";
    weekdays[3] = "Wednesday";
    weekdays[4] = "Thursday";
    weekdays[5] = "Friday";
    weekdays[6] = "Saturday";
    return weekdays;
}

function getOrderedTimeOfDayKeys() {
    var timesOfDay = new Array(5);
    timesOfDay[0] = "Morning";
    timesOfDay[1] = "Lunchtime";
    timesOfDay[2] = "Afternoon";
    timesOfDay[3] = "Dinnertime";
    timesOfDay[4] = "Evening";
    return timesOfDay;
}

function groupDataByWeekday(dataPoints) {
    var daysOfWeekToScores = {};
    var weekdays = getOrderedWeekdayKeys();

    for (var dataPoint of dataPoints) {
        var score = dataPoint["score"];

        var createdAt = new Date(dataPoint["created_at"]);
        var weekday = weekdays[createdAt.getDay()];

        if (weekday in daysOfWeekToScores) {
            var scores = daysOfWeekToScores[weekday];
            scores.push(score);
            daysOfWeekToScores[weekday] = scores;
        } else {
            daysOfWeekToScores[weekday] = [score];
        }
    }
    return daysOfWeekToScores;
}

function groupDataByTimeOfDay(dataPoints) {
    var timesOfDayToScores = {};
    var timesOfDay = getOrderedTimeOfDayKeys();

    for (var dataPoint of dataPoints) {
        var score = dataPoint["score"];

        var createdAt = new Date(dataPoint["created_at"]);
        var hour = createdAt.getHours();
        var timeOfDay;
        if (hour < 11) {
            timeOfDay = timesOfDay[0];
        } else if (hour < 13) {
            timeOfDay = timesOfDay[1];
        } else if (hour < 17) {
            timeOfDay = timesOfDay[2];
        } else if (hour < 19) {
            timeOfDay = timesOfDay[3];
        } else {
            timeOfDay = timesOfDay[4];
        }

        if (timeOfDay in timesOfDayToScores) {
            var scores = timesOfDayToScores[timeOfDay];
            scores.push(score);
            timesOfDayToScores[timeOfDay] = scores;
        } else {
            timesOfDayToScores[timeOfDay] = [score];
        }
    }
    return timesOfDayToScores;
}

function plotGroupedDataPoints(orderedKeys, groupedBy, groupedData, divElement) {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'key');
    data.addColumn('number', 'scores');
    data.addColumn({id:'minusStddev', type:'number', role:'interval'});
    data.addColumn({id:'plusStddev', type:'number', role:'interval'});

    for (var key of orderedKeys) {
        if (key in groupedData) {
            var mean = math.mean(groupedData[key])
            var stddev = math.std(groupedData[key])
            data.addRow([key, mean, mean - stddev, mean + stddev])
        }
    }

    var options = {
        title: groupedBy,
        intervals: { 'style': 'area' },
    };
    var genericOptions = getGenericOptions();
    const allOptions = {
        ...options,
        ...genericOptions
    }

    var chartLines = new google.visualization.LineChart(divElement);
    chartLines.draw(data, allOptions);
}

function retrieveDataPoints() {
    // Submit the position to the backend with AJAX.
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            const dataPoints = JSON.parse(this.responseText)["data_points"];

            function plotDataPointsWrapper() {
                console.log("Received: " + JSON.stringify(dataPoints));
                plotDataPointsOverTime(dataPoints, document.getElementById('plot-over-time'));
                var dataGroupedByWeekday = groupDataByWeekday(dataPoints);
                var dataGroupedByTimeOfDay = groupDataByTimeOfDay(dataPoints);
                plotGroupedDataPoints(
                    getOrderedWeekdayKeys(), "Day of Week", dataGroupedByWeekday,
                    document.getElementById('agg-weekday-stats')
                );
                plotGroupedDataPoints(
                    getOrderedTimeOfDayKeys(), "Time of Day", dataGroupedByTimeOfDay,
                    document.getElementById('agg-time-of-day-stats')
                );
            }
            google.charts.setOnLoadCallback(plotDataPointsWrapper);
        }
    };
    var base_url = "{% url 'sms:data_points' %}";
    xhttp.open("GET", base_url + "?question_id={{ question.id }}", true);
    xhttp.send();
}
retrieveDataPoints();
</script>
{% endblock %}
