{% extends "sms/boilerplate.html" %}
{% block all %}
<h1>{{ question.text }} ({{question.min_score}}-{{question.max_score}})</h1>
<div id="plot-over-time"></div>
<script>
google.charts.load('current', {'packages': ['line', 'corechart']});

// Plots an array of DataPoints in a line chart.
function plotDataPoints(data_points) {
    console.log("Received: " + JSON.stringify(data_points));

    var data = new google.visualization.DataTable();
    data.addColumn('date', 'X');
    data.addColumn('number', 'Score');
    data.addColumn({type: 'string', role: 'tooltip'});

    for (var data_point of data_points) {
        data.addRow([new Date(data_point["created_at"]), data_point["score"], data_point["text"]]);
    }

    var options = {
        hAxis: {
            format: 'MM/dd/YY'
        },
        title: 'Scores Over Time',
        curveType: 'function',
        // Settings chosen to look decent on mobile and desktop.
        width: '100%',
        height: '15%',
        chartArea: {'width': '75%', 'height': '80%', left: '5%'},
    };

    var chart = new google.visualization.LineChart(document.getElementById('plot-over-time'));
    chart.draw(data, options);
}

function retrieveDataPoints() {
    // Submit the position to the backend with AJAX.
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            const data_points = JSON.parse(this.responseText)["data_points"];

            function plotDataPointsWrapper() {
                plotDataPoints(data_points);
            }
            google.charts.setOnLoadCallback(plotDataPointsWrapper);
        }
    };
    var base_url = "{% url 'sms:data_points' %}";
    xhttp.open("GET", base_url + "?question_id={{ question.id }}", true);
    xhttp.send();
}
retrieveDataPoints();
</script>
{% endblock %}
