# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
    -   id: black
        args: []
        files: .
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
    -   id: mypy
        args: [--config-file=mypy.ini]
        files: ^(music|prayer|daily_goals|scavenger_hunt|sms)/.*\.py$
        exclude: (migrations/|test_.*\.py$)
