# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
    -   id: isort
        args: [--profile=black]
-   repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
    -   id: black
        args: []
        files: .
-   repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
    -   id: prettier
        types_or: [markdown]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
    -   id: mypy
        args: [--config-file=mypy.ini]
        files: ^(music|prayer|daily_goals|scavenger_hunt|sms|twilio_managers|food_tracking)/.*\.py$
        exclude: (migrations/|test_.*\.py$)
        additional_dependencies: [types-python-dateutil, types-pytz, types-requests]
