files:
    /etc/httpd/conf.d/default.conf:
        mode: "000644"
        owner: root
        group: root
        content: |
            <VirtualHost *:80>
                RewriteEngine On
                DocumentRoot /var/www/html/ovideo
                ServerName paulcarroll.site
            </VirtualHost>