packages:
  yum:
    python34-devel: []
    postgresql94-devel: []

container_commands:
  01_migrateall:
    command: "python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: website/wsgi.py
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
