.simple-border {
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.scavenger-hunt-title-border {
  border-style: solid;
  border-width: thin;
  border-color: black;
  margin-top: 15px;
}

.simple-border-no-radius {
  border-style: solid;
  border-width: thin;
  border-color: black;
  padding: 10px;
  margin-top: 10px;
}

.clue {
  background-color: #ecefd5;
}

.big {
  font-size: x-large;
}

#heading {
  background-color:	#9ACD32;
  display: none;
}

#hint {
  background-color:	#9ACD32;
  display: none;
}

.scavenger-control-panel {
  background-color: #FAFAD2;
}

.scavenger-control-panel-elem {
  display: inline;
  margin-right: 10px;
}

.scavenger-hunt-title {
  background-color: #FFFF33;
  padding: 10px;
}

.scavenger-hunt-metadata {
  background-color:	#9ACD32;
  padding: 10px;
}

.scavenger-hunt-description {
  background-color: #ecefd5;
  padding: 10px;
}

.scavenger-hunt-start {
  display: inline;
  margin-right: 10px;
}

.scavenger-hunt-start-nav-bar {
  padding: 10px;
  background-color: #FAFAD2;
  border-style: solid;
  border-width: thin;
  margin-top: 10px;
}

.max-size-img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.heading-disabled {
  color: red;
  margin-right: 10px;
}

.instructions {
  background-color:	#9ACD32;
}