* {
  margin-block-start: 0px;
  margin-block-end: 0px;
  box-sizing: border-box;
  line-height: 1.8;
  font-family: 'Oswald', sans-serif, light;
}

a {
  color: #000000;
}

p {
  padding-top: 3px;
  padding-bottom: 3px;
}

td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width:1px;
}

.checkered-blue {
  width: 100%;
}

.checkered-blue th, td {
  padding: 10px;
  border: 1px solid black;
}

.checkered-blue tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even)
{
    background-color: #7ed4fc;
}

.toolbar {
  padding: 10px;
  background-color: #edd5d5;
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 5px;
}

.featured-tags {
  display: inline;
  padding-right: 5px;
}

.toolbar-form {
  display: inline;
  padding-left: 10px;
  padding-right: 20px;
}

.toolbar-input {
  padding-left: 5px;
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding-right: 10px;
}

.column-thirds {
  float: left;
  width: 27%;
  padding-right: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}

.album-of-the-month {
  background-color: #FFFF33;
  padding: 20px;
}

.featured-album {
  background-color:	#9ACD32;
  padding: 20px;
}

.review {
  background-color: #ecefd5;
  overflow: hidden;
}

.best-albums {
  background-color:	#FFD700;
  padding: 20px;
  margin: 5px;
  margin-top: 10px;
}

.great-albums {
  background-color: #C0C0C0;
  padding: 20px;
  margin: 5px;
  margin-top: 10px;
}

.good-albums {
  background-color: #B8860B;
  padding: 20px;
  margin: 5px;
  margin-top: 10px;
}

.best-of {
  padding: 20px;
  background-color: #FFFF33;
}

.best-of-description {
  padding: 20px;
  background-color:	#9ACD32;
  clear: both;
}

.best-of-image {
  float: left;
  max-width: 10%;
}

.best-of-control-panel {
  margin-top: 10px;
  margin-right: 15px;
  background-color: #ecefd5;
  padding: 10px;
  float: left;
  width: 10%;
}

.review-text {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
