<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140792120-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-140792120-1');
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Paul's Music{% endblock %}</title>

    <!-- Web App Manifest -->
    <link rel="manifest" href="{% static 'manifest.json' %}">

    <!-- iOS Web App -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Food Tracker">
    <link rel="apple-touch-icon" href="{% static 'food-icon.png' %}">

    <!-- Theme color -->
    <meta name="theme-color" content="#4CAF50">
    <script src="{% static 'js/filter_best_of.js' %}"></script>
    <link rel="icon" href={% static "favicon.png" %} type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "music/css/styles.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "scavenger_hunt/css/styles.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "food_tracking/css/styles.css" %}?v=6">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.3.0/math.min.js"></script>
    {% block extraheaders %}{% endblock %}
</head>
<body>
  {% block all %}{% endblock %}
</body>
</html>
