[Unit]
Description="Launches daily goals manager"
After=network-online.target

[Service]
Type=simple
User={{ username }}
Restart=always
RestartSec=1
# We expect manager_main to install its own environment variables.
WorkingDirectory=/home/{{ username }}/source/twilio_managers
ExecStart=/home/{{ username }}/venv/bin/python /home/{{ username }}/source/twilio_managers/daily_goals_app_manager_main.py

[Install]
WantedBy=multi-user.target
