[Unit]
Description="Launches SMS manager"
After=network-online.target

[Service]
Type=simple
User={{ username }}
Restart=always
RestartSec=1
# We expect manager_main to install its own environment variables.
Environment="PYTHONPATH=/home/{{ username }}/source"
WorkingDirectory=/home/{{ username }}/source
ExecStart=/home/{{ username }}/venv/bin/python /home/{{ username }}/source/twilio_managers/sms_app_manager_main.py

[Install]
WantedBy=multi-user.target
