{% extends "base.html" %}
{% block title %}
Scavenger Hunt
{% endblock %}
{% block extraheaders %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}
{% block all %}
<div class="big container jumbotron">
    {% block content %}
    {% endblock %}
</div>
{% endblock %}