{% extends "scavenger_hunt/boilerplate.html" %}
{% block all %}
<script>
function addInputField(form, name, value) {
    /* Adds a hidden field with name and value to the form.*/
    const hiddenField = document.createElement('input');
    hiddenField.type = 'hidden';
    hiddenField.value = value;
    hiddenField.name = name;
    form.appendChild(hiddenField);
}

function submitLocation() {
    /* Submits the location form, after appending our location to it. */
    function submitLocationHelper(position) {
        const form = document.getElementById('advance_form');
        addInputField(form, "latitude", position.coords.latitude);
        addInputField(form, "longitude", position.coords.longitude);
        form.submit();
    }
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(submitLocationHelper);
    } else {
        alert("Geolocation not supported. :(");
    }
}

function retrieveHint() {
    /* Retrieves a hint from the backend and logs it to the console. */
    function retrieveHintHelper(position) {
        // Submit the position to the backend with AJAX.
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                const hint_content = JSON.parse(this.responseText);

                const hint = document.getElementById("hint");
                hint.innerHTML = '';

                const approximate_distance_m = parseFloat(hint_content["distance"].toPrecision(1));
                var distance_string = "";
                if (approximate_distance_m > 1000) {
                    distance_string = "~" + (approximate_distance_m / 1000) + "km"
                } else {
                    distance_string = "~" + approximate_distance_m + "m"
                }

                var header = document.createElement("h2");
                header.innerHTML = "Your heading:";
                hint.appendChild(header);

                var distance = document.createElement("p");
                distance.innerHTML = "Distance: " + distance_string;
                hint.appendChild(distance);

                var direction = document.createElement("p");
                direction.innerHTML = "Direction: " + hint_content["direction"];
                hint.appendChild(direction);

                hint.style.display = "block";
            }
        };
        var base_url = "{% url 'scavenger_hunt:hint' id=hunt.id %}"
        xhttp.open("GET", base_url + "?latitude=" + position.coords.latitude + "&longitude=" + position.coords.longitude, true);
        xhttp.send();
    }
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(retrieveHintHelper);
    } else {
        alert("Geolocation not supported. :(");
    }
}
</script>
<div class="scavenger-hunt">
{% if hunt.is_finished %}
    {% if hunt.hunt_template.finished_message %}
        <p>{{ hunt.hunt_template.finished_message }}</p>
    {% else %}
        <p>Congratulations! You finished the hunt.</p>
    {% endif %}
    <p><a href="{% url 'scavenger_hunt:hunt_templates' %}">Return home</a></p>
{% else %}
    {% if first_time %}
        <div class="toolbar">
            In order to progress in your scavenger hunt, you must visit the location
            indicated by the clue and press "Advance." Ask for your heading if you get stuck!
        </div>
    {% endif %}
    {% if not success %}
        <div class="toolbar">
            You aren't close enough to the right spot to advance. Keep trying!
        </div>
    {% endif %}
    <div class="clue simple-border">
        <h2>Your clue:</h2>
        <div>{{ hunt.current_location.clue }}</div>
    </div>
    <div id="hint" class="simple-border"></div>
    <div class="scavenger-control-panel simple-border">
        <form id="advance_form" class="scavenger-control-panel-elem" action="{% url 'scavenger_hunt:hunt' id=hunt.id %}" method="post" >
            {% csrf_token %}
            <button onclick="submitLocation()">Advance</button>
        </form>
        <button class="scavenger-control-panel-elem" onclick="retrieveHint()">Calculate heading</button>
        <a href="{% url 'scavenger_hunt:hunt_templates' %}">Abandon hunt</a>
    </div>
{% endif %}
{% endblock %}
</div>