{% extends "scavenger_hunt/boilerplate.html" %}
{% block content %}
<div class="scavenger-hunt-title-border">
    <h1 class="scavenger-hunt-title">{{ hunt_template.name }}</h1>
</div>
<div class="simple-border-no-radius scavenger-hunt-description">
    <h2>Description</h2>
    {% if hunt_template.path_to_static_img_asset %}
        {% load static %}
        <img class="max-size-img" src="{% static hunt_template.path_to_static_img_asset %}" alt="{{ hunt_template.path_to_static_img_asset }}">
    {% endif %}
    <p>
    {% autoescape off %}
    {{ hunt_template.description | safe }}
    {% endautoescape %}
    </p>
</div>
<div class="scavenger-hunt-start-nav-bar">
    <form class="scavenger-hunt-start" action="{% url 'scavenger_hunt:create_new_hunt' template_id=hunt_template.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Start">
    </form>
</div>
{% endblock %}
