{% extends "scavenger_hunt/boilerplate.html" %}
{% block all %}
<script>
function addInputField(form, name, value) {
    /* Adds a hidden field with name and value to the form.*/
    const hiddenField = document.createElement('input');
    hiddenField.type = 'hidden';
    hiddenField.value = value;
    hiddenField.name = name;
    form.appendChild(hiddenField);
}

function submitLocation() {
    /* Submits the location form, after appending our location to it. */
    function submitLocationHelper(position) {
        const form = document.getElementById('advance_form');
        addInputField(form, "latitude", position.coords.latitude);
        addInputField(form, "longitude", position.coords.longitude);
        form.submit();
    }
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(submitLocationHelper);
    } else {
        alert("Geolocation not supported. :(");
    }
}

function retrieveHeading() {
    /* Retrieves a heading from the backend. */
    function retrieveHeadingHelper(position) {
        // Submit the position to the backend with AJAX.
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                const heading_content = JSON.parse(this.responseText);

                const heading = document.getElementById("heading");
                heading.innerHTML = '';

                const approximate_distance_m = parseFloat(heading_content["distance"].toPrecision(1));
                var distance_string = "";
                if (approximate_distance_m > 1000) {
                    distance_string = "~" + (approximate_distance_m / 1000) + "km"
                } else {
                    distance_string = "~" + approximate_distance_m + "m"
                }

                var header = document.createElement("h2");
                header.innerHTML = "Your heading:";
                heading.appendChild(header);

                var distance = document.createElement("p");
                distance.innerHTML = "Distance: " + distance_string;
                heading.appendChild(distance);

                var direction = document.createElement("p");
                direction.innerHTML = "Direction: " + heading_content["direction"];
                heading.appendChild(direction);

                heading.style.display = "block";
            }
        };
        var base_url = "{% url 'scavenger_hunt:heading' id=hunt.id %}"
        xhttp.open("GET", base_url + "?latitude=" + position.coords.latitude + "&longitude=" + position.coords.longitude, true);
        xhttp.send();
    }
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(retrieveHeadingHelper);
    } else {
        alert("Geolocation not supported. :(");
    }
}

function revealHint() {
    const hint = document.getElementById('hint');
    hint.style.display = "block";
}
</script>
<div class="scavenger-hunt">
{% if hunt.is_finished %}
    {% if hunt.hunt_template.finished_message %}
        <p>{{ hunt.hunt_template.finished_message }}</p>
    {% else %}
        <p>Congratulations! You finished the hunt.</p>
    {% endif %}
    <p><a href="{% url 'scavenger_hunt:hunt_templates' %}">Return home</a></p>
{% else %}
    {% if not success %}
        <div class="toolbar">
            {% if hunt.current_location.latitude is not None and hunt.current_location.solution %}
                You may not be close enough to the right spot to advance, or you may have entered the wrong solution. Keep trying!
            {% elif hunt.current_location.latitude is not None %}
                You are not close enough to the right spot to advance. Keep trying!
            {% else %}
                That's not the right passcode. Keep trying!
            {% endif %}
        </div>
    {% endif %}
    <div class="instructions toolbar">
        {% if hunt.current_location.latitude is not None and hunt.current_location.solution %}
            Visit this location and enter the passcode to advance.
        {% elif hunt.current_location.latitude is not None %}
            Visit this location to advance.
        {% else %}
            Enter the passcode to advance.
        {% endif %}
    </div>
    <div class="clue simple-border">
        <h2>Your clue:</h2>
        {% if hunt.current_location.path_to_static_img_asset %}
            {% load static %}
            <img class="max-size-img" src="{% static hunt.current_location.path_to_static_img_asset %}" alt="{{ hunt.current_location.path_to_static_img_asset }}">
        {% endif %}
        {% if hunt.current_location.clue %}
            <div>{{ hunt.current_location.clue }}</div>
        {% endif %}
    </div>
    <div id="heading" class="simple-border"></div>
    {% if hunt.current_location.hint %}
    <div id="hint" class="simple-border" style="display:none">
        <div><h2>Your hint:</h2>{{ hunt.current_location.hint }}</div>
    </div>
    {% endif %}
    <div class="scavenger-control-panel simple-border">
        <form id="advance_form" class="scavenger-control-panel-elem" action="{% url 'scavenger_hunt:hunt' id=hunt.id %}" method="post" >
            {% csrf_token %}
            {% if hunt.current_location.solution %}
            <label for="solution">Enter passcode here: </label>
            <input type="text" name="solution" value=""><br>
            {% endif %}
            <button type="button" onclick="submitLocation()">Advance</button>
        </form>
        {% if hunt.current_location.latitude is not None %}
            {% if hunt.current_location.disable_heading %}
            <span class="heading-disabled">Calculating a heading has been disabled for this location.</span>
            {% else %}
            <button class="scavenger-control-panel-elem" type="button" onclick="retrieveHeading()">Calculate heading</button>
            {% endif %}
        {% endif %}
        {% if hunt.current_location.hint %}
            <button class="scavenger-control-panel-elem" type="button" onclick="revealHint()">Show hint</button>
        {% endif %}
        <a href="{% url 'scavenger_hunt:hunt_templates' %}">Abandon hunt</a>
    </div>
{% endif %}
{% endblock %}
</div>