{% extends "scavenger_hunt/boilerplate.html" %}
{% block all %}
<script>
function submitLocation() {
    /* Submits the location form, after appending our location to it. */
    function submitLocationHelper(position) {
        const form = document.getElementById('location_form');

        function addInputField(form, name, value) {
            /* Adds a hidden field with name and value to the form.*/
            const hiddenField = document.createElement('input');
            hiddenField.type = 'hidden';
            hiddenField.name = name;
            hiddenField.value = value;
            form.appendChild(hiddenField);
        }

        addInputField(form, "latitude", position.coords.latitude);
        addInputField(form, "longitude", position.coords.longitude);
        form.submit();
    }
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(submitLocationHelper);
    } else {
        alert("Geolocation not supported. :(");
    }
}
</script>
{% if hunt.is_finished %}
    {% if hunt.hunt_template.finished_message %}
        <p>{{ hunt.hunt_template.finished_message }}</p>
    {% else %}
        <p>Congratulations! You finished the hunt.</p>
    {% endif %}
    <p><a href="{% url 'scavenger_hunt:hunt_templates' %}">Return home</a></p>
{% else %}
    {% if first_time %}
        <p>
            <strong>
                In order to progress in your scavenger hunt, you must visit the location
                described by the clue and press "Advance."
            </strong>
        </p>
    {% endif %}
    {% if not success %}
        <p>
            <strong>
                You aren't close enough to the right spot to advance. Keep trying!
            </strong>
        </p>
    {% endif %}
    <p><strong>Clue: </strong>{{ hunt.current_location.clue }}</p>
    <form id="location_form" action="{% url 'scavenger_hunt:hunt' id=hunt.id %}" method="post" >
        {% csrf_token %}
        <label for="radius_meters">Radius for match (m)</label>
        <input type="number" id="radius_meters" name="radius_meters"><br>
        <button onclick="submitLocation()">Advance</button>
    </form>
    <p><a href="{% url 'scavenger_hunt:hunt_templates' %}">Abandon hunt</a></p>
{% endif %}
{% endblock %}
